pipeline/EP_GetTableListAndTriggerCopyData.json
{
	"name": "EP_GetTableListAndTriggerCopyData",
	"properties": {
		"activities": [
			{
				"name": "Lkp_SQLTableList",
				"description": "Retrieve the table list from my database",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'SalesLT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"DWSchema": "dbo",
							"DWTable": "abc"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "EP_TriggerCopy",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lkp_SQLTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "EP_IterateAndCopySqlTables",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"tableList": {
							"value": "@activity('Lkp_SQLTableList').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-03-10T20:50:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}