pipeline/TestPipeline_Web_ToTable.json
{
	"name": "TestPipeline_Web_ToTable",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://ghibliapi.herokuapp.com/species",
					"method": "GET"
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.spRestData",
					"storedProcedureParameters": {
						"logDetails": {
							"value": "@string(activity('Web1').output)",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedService2",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}